.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lilac-color);
  --lilac-color: rgba(174, 151, 232, 1);
  --purple-color: rgba(197, 176, 250, 70%);
  --white-color: rgba(255, 255, 255, 1);
  --pink-color: rgba(250, 143, 239, 1);
  --blue-color: rgba(174, 207, 255, 1);
  width: 100%;
}
