.header {
  width: 100%;
  display: flex;
  max-width: 1920px;
  padding: 53px 123px 0px 60px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1736px;
  width: 100%;
  gap: 50px;
}

.header__logo {
  width: 104px;
  height: 37px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
}

.header__link {
  display: flex;
  gap: 12px;
  cursor: pointer;
  text-decoration: none;
}

.header__link-catalog::before {
  content: "";
  background-image: url(../../images/icon-catalog.svg);
  background-position: center;
  width: 15px;
  background-repeat: no-repeat;
}

.header__menu-flex {
  display: flex;
  gap: 30px;
}

.header__search {
  padding: 0px;
  border: 0px;
  background-color: inherit;
  display: flex;
  gap: 12px;
}

.header__search::before {
  content: "";
  background-image: url(../../images/icon-search.svg);
  width: 26px;
  height: 26px;
}

.header__menu-user {
  display: flex;
  gap: 36px;
  align-items: center;
}

.header__button {
  padding: 0px;
  background-color: inherit;
  border: 0px;
  width: 22px;
  height: 20px;
  cursor: pointer;
}
.header__button-telephone {
  display: none;
}
@media screen and (max-width: 1500px) {
  .header {
    padding: 40px 15px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    padding: 25px 15px;
  }
  .header__logo {
    width: 77px;
    height: 27px;
    position: absolute;
    left: 0px;
  }
  .header__container {
    gap: 0px;
    justify-content: end;
    position: relative;
    gap: 18px;
  }

  .header__menu {
    width: min-content;
  }

  .header__link {
    display: none;
  }

  .header__search-text {
    display: none;
  }
  .header__search::before {
    width: 24px;
    height: 24px;
  }

  .header__menu-user {
    gap: 18px;
  }

  .header__button {
    width: 24px;
    height: 24px;
  }
  .header__button-telephone {
    display: none;
  }
}
