.info-product {
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px 0px 20px;
}

.swiper-wrapper {
  gap: 1.07%;
}

.info-product__container {
  width: 100%;
}

.info-product__sliders {
  display: flex;
  width: 100%;
}

/* неактивный слайдер */
.info-product__slider {
  padding: 302px 0px 104px 0px;
  flex: 0 1 18.09%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  transition: width 3s ease, max-width 3s ease, padding 3s ease;
}

/* общий активный слайдер */
.info-product__slider-active {
  padding: 380px 0px 92px 60px;
  flex: 0 1 61.7%;
  width: 100%;
  max-width: 1160px;
  position: relative;
  transition: flex 1s ease;
  padding-left: 20px;
  transition: width 3s ease, max-width 3s ease, padding 3s ease;
}

/* картинка неактивного слайда */
.info-product__slider-img {
  max-height: 328px;
  height: 100%;
  transform: rotate(7deg);
}

/* картинка активного слайда */
.info-product__slider-img_active {
  top: 113px;
  position: absolute;
  max-height: 724px;
  max-width: 494px;
}

.info-product__slider-lilac_active {
  background-color: var(--lilac-color);
}

/* .info-product__slider{
    padding: 113px 0px 70px ;
    max-width: 1160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 50px;
} */

.info-product__slider-lilac {
  background-color: var(--purple-color);
}

.info-product__slider-pink {
  background-color: var(--pink-color);
}

.info-product__slider-blue {
  background-color: var(--blue-color);
}

.info-product__slider-text {
  margin-top: 228px;
  margin-bottom: 41px;
  font-size: 15px;
  opacity: 60%;
}

.info-product__slider-number {
  text-align: center;
  font-family: Floreste;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

.display-none {
  display: none;
}

.info-product__title {
  color: var(--light-green-color);
  text-transform: uppercase;
  margin-bottom: 31px;
}

.info-product__text-background {
  width: 100%;
  text-align: center;
  font-size: 212px;
  text-transform: uppercase;
  color: var(--white-color);
  opacity: 20%;
  margin-bottom: 97px;
}
/* @media screen and (max-width: 1900px) {
  white-space: nowrap;
  overflow: hidden;
  font-size: 10vw;
  height: 200px;
} */

.info-product__text-name {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.info-product__text-description {
  font-size: 15px;
  max-width: 318px;
  padding-bottom: 42px;
  border-bottom: 0.5px solid var(--white-color);
  margin-bottom: 42px;
}
.info-product__text-price {
  color: var(--light-green-color);
}

.info-product__content {
  position: relative;
  width: 100%;
}

.info-product_shopping-card {
  position: absolute;
  right: 53px;
  bottom: 0px;
  background-image: url(../../images/shopping-button.svg);
  max-width: 377px;
  max-height: 211px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-product_button {
  border: 0px;
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 11px;
  color: var(--white-color);
  font-size: 20px;
  line-height: 120%;
}
